<title><%= title %></title>
<meta author="<%= name %>" />
<meta name="keywords" content="<%= name %>,resume,curriculum vitae,cv" />
<meta name="description" content="<%= description %>" />

<!-- OpenGraph -->
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="document" />
<meta property="og:url" content="<%= url %>" />

<% if (!(image === defaultValues.image)) { %>
<meta property="og:image" content="<%= image %>" />
<% } %>

<meta property="og:description" content="<%= description %>" />

<!-- Twitter specific -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="<%= url %>" />
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:image" content="[link to your picture]" />
